#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
     position: fixed;

    left: 0;

    bottom: 0;
    visibility: visible;
    width: 70%;
    margin-left: 20%;
    margin-right: auto;
    text-align: center;

}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
        visibility:hidden;

     }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
        overflow:hidden;

    }
}
 